.overview-body{
  width: 100%;
}

.header-overview {
  margin-top: 55px;
  margin-left: 65px;
  margin-right: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.header-overview h1 {
  font-family: Lato-Light;
  font-weight: 600;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 36px;
  margin-left: 50px;
}
button {
  width: 68px;
  height: 35px;
  padding: 9px 18px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
button.settings-button {
  font-size: 25px;
  background: #EEF2F5;
  color: #9DADB9;
}
.button-dot {
  background: #9DADB9;
  width: 5px;
  height: 4px;
  margin: 4px;
}
button.add-button {
  background: #10CD45;
  color: #FFFFFF;
}
.dot-wrap {
  display: flex;
  flex-direction: row;
}

.body-overview {
  margin-top: 40px;
  margin-left: 65px;
  margin-right: 65px;
}
a {
  color: #FFFFFF;
  text-decoration: none;
}
