<div class="overview-body">
  <div class="header-overview">
    <h1>Overview</h1>
    <div class="button-container">
      <button class="settings-button">
        <div class="dot-wrap">
          <div class="button-dot"></div>
          <div class="button-dot"></div>
          <div class="button-dot"></div>
        </div>
      </button>
      <button class="add-button">Add</button>
    </div>
  </div>
  <div class="body-overview">
    <table>
      <tr>
        <th>Owner</th>
        <th>End date</th>
        <th>Profits</th>
        <th>Losses</th>
        <th>Phone</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
