table {
  border-collapse: collapse;
  margin-bottom: 50px;
  width: 100%;
  min-height: 100%;
}
th, td {
  border-collapse: collapse;
  padding-left: 18px;
  padding-right: 18px;
}
tr th {
  text-align: center;
  color: #878787;
  font-size: 16px;
}
tr td {
  text-align: center;
}
table th:first-child,
table td:first-child{
  text-align: left;
}


table td:nth-child(3){
  color: #00CA39 ;
}
table td:nth-child(4) {
  color: #E44067;
}
tr{
  height: 65px;
}
table tr:nth-child(2n) {
  background: #EEF2F5;
}

