.imgOverview{
  background: url("icons/overview.png") no-repeat;
}
.imgLogo {
  margin-left: 5px;
  background-size: cover;
  height: 39px;
  width: 35px;
  display: block;
  background: url("icons/logo.png") no-repeat;
}
.imgCloud{
  background: url("icons/cloud.png") no-repeat;
}
.imgSketch{
  background: url("icons/sketch.png") no-repeat;
}
.imgExperiments {
  background: url("icons/experiments.png") no-repeat;
}
.imgSecurity{
  background: url("icons/security.png") no-repeat;
}
.imgOwenership{
  background: url("icons/owenership.png") no-repeat;
}

.imgABTest{
  background: url("icons/ABTest.png") no-repeat;
}
.imgColors{
  background: url("icons/colors.png") no-repeat;
}

.imgOverview,
.imgCloud,
.imgSketch,
.imgExperiments,
.imgSecurity,
.imgOwenership,
.imgABTest,
.imgColors{
  height: 25px;
  width: 25px;
  display: block;
  margin-right: 20px;
}

.menu-bar,li, a {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}
ul {
  margin-top: 36px;
}
li {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}
hr.menu-line{
  margin-top: 40px;
  width: 85%;
  text-align: center;
  border: 1px solid #FFFFFF;
  opacity: 0.2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu-bar{
  margin-left: 34px;
  margin-top: 40px;
}
